body,div,canvas,button{
	margin: 0;
	padding: 0;
}
#f{
	width:330px;
	margin: 20px;
	padding: 20px;
	background-color: brown;
}
#body{
	background-image: url(../img/spring1.jpg);
	background-size:100% 1200px;
}
